<h1>About Me</h1>
<div class="container">
	<app-collapse-panel [collapsed]="true">
		<app-collapse-header>
			<div class="header-container">
				<div class="header-title">about Me</div>
				<div class="social-section">
						<i class="fa-brands fa-facebook-f mr-20"></i>
						<i class="fa-brands fa-twitter mr-20"></i>
						<i class="fa-brands fa-instagram mr-20"></i>
						<i class="fa-brands fa-github mr-20"></i>
				</div>
			</div>
		</app-collapse-header>
		<app-collapse-content>
			<div class="profile">
				<div class="profile-head">
					<div class="profile-img">
						<img src="https://scontent.fres2-1.fna.fbcdn.net/v/t1.6435-9/198794046_10225795526378545_402208502640304325_n.jpg?_nc_cat=111&ccb=1-7&_nc_sid=09cbfe&_nc_ohc=vwNp5UqABAcAX_4J80f&tn=BpOuaxRuHNcXo5dZ&_nc_ht=scontent.fres2-1.fna&oh=00_AT8obzWemmdZvm3KNx_zCM8T63O6AwyI4sz9gcS3P-5bGw&oe=62C29050" alt="">
					</div>
					<div>
						<label class="profile-title">
							Mati Galeano
						</label>
						<label class="profile-desig">
							Web Developer
						</label>
					</div>
				</div>
				<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore veniam inventore consectetur assumenda, illum distinctio debitis amet provident harum iusto officiis minus, accusantium iure facere rem et animi accusamus minima.
				In soluta facere reprehenderit aliquid quisquam veniam delectus inventore unde sint, laboriosam optio quae perspiciatis vitae quis mollitia accusantium magni asperiores tenetur at voluptatum perferendis. Minima voluptatem quae consequatur maiores.
				Odit saepe blanditiis, dolores vitae facilis quas, fugit delectus voluptas nemo, amet illo voluptatum? Impedit iste perferendis eius velit ipsam at facere pariatur sit iure, tempore quos labore est dolorum!</p>
			</div>
		</app-collapse-content>
	</app-collapse-panel>
</div>