@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700,900&display=swap');

:root  {
  --dark-color: rgba(18, 3, 31, 1);
  --light-color: rgb(237, 229, 245);
  --shadow-color: rgba(22, 0, 48, 0.75);
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    vertical-align: baseline;
  }
body {
    position: relative;
    font-family: 'Roboto', sans-serif;
  }
